%h2 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  - require 'open-uri'
  - require 'json'
  - json_object = JSON.parse(open("http://www.geobytes.com/IpLocator.htm?GetLocation&template=json.txt").read)
  - city = json_object['geobytes']['city']
  - country = json_object['geobytes']['country']
  - timezone = json_object['geobytes']['timezone']
  = hidden_field_tag "user[city]", city
  = hidden_field_tag "user[country]",country
  = hidden_field_tag "user[timezone]",timezone
  %div
    = f.label :username
    %br/
    = f.text_field :username
  %div
    = f.label :email
    %br/
    = f.email_field :email
  %div
    = f.label :password
    %br/
    = f.password_field :password
  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %div= f.submit "Sign up"
= render :partial => "devise/shared/links"