<% 	@object = Event.find(:all, :conditions => ['user_id = ?', current_user.id]).collect {|p| [ p.name, p.id ] }
	if @object.empty? %>
		<section id="events" class="twoofthree padder">
			<article>
		<h2>You haven't created any Event.<br> Why not <a href="/events/new" style="color:#F66">create</a> one first!</h2><br>
		<img src="/images/why.jpeg">
		</article></section>
	<% else %>
	<section id="events">
		      <ol id="filters">	
		      	<% @events.each do |event| %>

		      	   <% event.tag_list.each do |tag| -%>
				          <li data-filter="<%="#{tag}"%>"> <%= "#{tag}" -%> </li>
				          <% end %>
	<% end %>
      </ol>
      <ul id="tiles">
      		<% @events.each do |event| %>
		    	<%#= render :partial => "event", :collection => event, :as => :event %>
		    					<li class="<% event.tag_list.each do |tag| -%>
				          <%= "#{tag}" -%> 
				          <% end %> ">
				<div class="oneofthree padder">
				  <article class="event-block">
				    <div class="holder">
				      <aside class="settings right"> <a class="block" title="Edit" href="<%= edit_event_path(event) %>"></a> <%=link_to "", event, confirm:
				                                'Are you sure you want to delete it? There is no UNDO, plus all history of this event will be gone, FOREVER. So?',:class=>'delete', method: :delete %></aside>
				      <div class="pic-thumb"> <%=image_tag event.poster.url(:thumb) %>
				        <div class="venue-icon"> <%=image_tag event.venue.logo.url(:minithumb) %> </div>
				        <div class="sharer">
				          <ul>
				            <li> <a href="/events/top" class=""><img src="/images/icons/glocit.png"  alt="Gloc it"></a> </li>
				            <li> <a href="/events/top" class=""><img src="/images/icons/attend.png" alt="Attend"></a> </li>
				            <li> <a href="/badges/all" class=""><img src="/images/icons/share.png" alt="Share"></a> </li>
				            <li> <a href="/events/my" class=""><img src="/images/icons/flag.png" alt="Flag"></a> </li>
				          </ul>
				        </div>
				      </div>
				      <div class="date"> 
								<span class="day"> <%=event.start_time.strftime( "%A") %> </span> 
								<span class="daydate"> <%=event.start_time.strftime( "%m") %> </span> 
								<span class="month"><%=event.start_time.strftime( "%b") %> <br> <%=event.start_time.strftime( "%Y") %> </span>
				 				<span class="hour"> <%=event.start_time.strftime( "%H:%M") %>h</span>
				        <ul class="tags">
				          <% event.tag_list.each do |tag| -%>
				          <li> <%=link_to tag, event_tags_path( "#{tag}") -%> </li>
				          <% end %>
				        </ul>
				      </div>
				      <h1> <%=link_to event.name, event_path(event.slug) %> </h1>
				      <div class="desc"> <%=event.description %> </div>
				    </div>
				  </article>
				</div>
			</li>
		  <% end %>
		 </ul>


	</section>

	<%= will_paginate @events %>
<% end %>