	 <div class="twoofthree padder">
  <article>
		<%= form_for(resource, :as => resource_name, :url => update_password_path, :html => { :method => :put }) do |f| %>
		  
		<%= devise_error_messages! %>

			<div class="holder">
        <h3 class="fkey"><%= f.label :current_password %></h2>
        <div class="val"><%= f.password_field :current_password %></div>
      </div>

			<div class="holder">
        <h3 class="fkey"><%= f.label :password, "New Password" %></h2>
        <div class="val"><%= f.password_field :password %></div>
      </div>
			<div class="holder">
        <h3 class="key"><%= f.label :password_confirmation %></h2>
        <div class="val"><%= f.password_field :password_confirmation %></div>
      </div>
			<div class="holder">
        <h3 class="fkey"></h2>
        <div class="val"><%= f.submit "Change Password", :class => "button"  %></div>
      </div>

			<% end %>
			 </article>  
	</div>	  
	
	
	<div class="oneofthree padder"><h3>Cancel my account</h3>

	<p>Unhappy? <%= link_to "Cancel my account", deactivate_me_path,:params => {:status => 0}, :confirm => "Are you sure?", :method => :put %>.</p>

	<%= link_to "Back", :back %>
	
	</div>

<script src="/javascripts/jquery.validate.js" type="text/javascript"></script>


<script>
$(document).ready(function(){
  $("#settings").validate({
	  rules: {
	    settings_current_password: "required",
	    settings_password: "required",
	    settings_password_confirmation: "required",
	    settings_password_confirmation: {
	      equalTo: "#edit_password"
	    }
	  }
	});
});
</script>
