<!DOCTYPE html>
<html>
<head>
<title>Gloced</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Explore events like never before!">
<meta name="keywords" content="Explore events like never before!">
<!-- Change the width below to just wider than your form's width
        to optimize its initial scale on Apple iOS  and Android devices -->
<meta name="viewport" content="width=640">
<%= javascript_include_tag :application %>
<%= stylesheet_link_tag '/css/front', :media => 'screen' %>
<%= javascript_include_tag '/javascripts/jquery.gritter.min.js' %>
</head>
<body>
		<div class="wrapper rounded6">
	  <div class="holder rounded6">
	    <div class="text"><br>
	      <br>
	      <div class="center"><img src="/images/logo.png"></div>
	      <br>
	      <br>
	      <p style="font-size:24px; text-align:center">Explore events like never before!</p>
	      <p class="center">Remember that time that you traveled and didn't know anything about the events that were taking place around your area?<br>
	        <br>
	        With Gloced you find the coolest events near you easily. </p>
	    </div>
	  </div>
	  <div class="container rounded6 center"><%= yield%>
	  </div>
       <%= render 'layouts/public/footer' %>
      <%= debug(params) if Rails.env.development? %>
  </body>
</html>