<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<meta name="author" content="Urbanway LLC" >
<meta name="description" content="Gloced" >
<meta name="keywords" content="Globally Local Events Made Easy">
<title><%= title %></title>
 <%= csrf_meta_tag %>
<%= stylesheet_link_tag '/css/style', :media => 'screen' %>
<%= stylesheet_link_tag '/css/ui/jquery.ui.all.css', :media => 'screen' %>
<%= javascript_include_tag :application %>
<%= javascript_include_tag '/javascripts/ui/jquery-ui.js' %>
<%= javascript_include_tag '/javascripts/jquery.gritter.min.js' %>

</head>
<body>
<div id="maincontainter">
	<%= render 'layouts/header' %>	
	<%= render 'layouts/content_nav' %>	
 <div id="center">
    <div id="content">
      <section class="round">
        <%= yield %>
      </section>
   
		    </div>
		  </div>
		</div>
      <%= render 'layouts/footer' %>
      <%# debug(params) if Rails.env.development? %>
			<% flash.each do |key, value| %>
			  <script type="text/javascript">
			
				$.gritter.add({
					title: '&nbsp;',
					text: '<%= value %>'
				});
			</script>
			<% end %>
<!--			<script type="text/javascript">
			  var uvOptions = {};
			  (function() {
			    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
			    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/NbLk6inKkSHq2EhoN0oF5A.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
			  })();
			</script> -->
	</body>
</html>